.gallery {
    display: grid;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.gallery img {
    width: 60vw;
    margin: 10px;
    border-radius: 10px;
    z-index: 2;
}

@media screen and (min-width: 540px) {
    .gallery {
        display: flex;
        height: auto;
        align-items: center;
        justify-content: space-between;
    }
    .gallery img {
        width: 17vw;
        margin: 10px;
        border-radius: 10px;
        z-index: 2;
    }
}