footer {
    z-index: 1;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 10vw;
    padding-right: 10vw;

    background-color: var(--purple);
    color: white;
}
.footer-contents {
    display: grid;
    align-items: center;
    justify-content: center;
}
.footer-message {
    text-align: center;
}
.links {
    justify-self: center;
    margin-bottom: 50px;
}
.links img {
    height: 30px;
    width: 30px;
}
.links img:hover {
    scale: 1.1;
    cursor: pointer;
}
.links img:active {
    scale: 0.9;
}

@media screen and (min-width: 540px) {
    footer {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}
@media screen and (min-width: 1070px) {
    .footer-contents {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .links {
        justify-self: left;
        margin-bottom: 0px;
    }
    .footer-message {
        text-align: left;
    }
}