/* Background */
.bg {
    z-index: -1;
    margin: auto;
    height: 100vh;
}

/* Contains all content */
.hero-container {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    
    /* Center Elements */
    display: grid;
    align-items: center;
}

/* Hero Contents */
p {
    line-height: normal;
}
br {
    display: inline;
}
.avatar {
    width: 70%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: 1.5vh solid #ffffff;
}
.greeting {
    color: #232323;
    font-weight: 500;
    font-size: 9vw;
    text-align: center;
    margin: auto;
}
.name {
    color: #322e7c;
    font-weight: 900;
    font-size: 17vw;
    text-shadow: 5px 5px #43aaff;
    text-align: center;
    margin: auto;
}

/* RESPONSIVE CSS */

@media screen and (min-width: 540px) {
    .avatar {
        width: 50%;
    }
    .greeting {
        font-size: 7vw;
    }
    .name {
        font-size: 13vw;
    }
}

@media screen and (min-width: 1025px) {
    br {
        display: none;
    }
    .avatar {
        width: 20%;
    }
    .greeting {
        font-size: 3vw;
    }
    .name {
        font-size: 6vw;
    }
}



/* VIDEO */

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    opacity: 30%;
}