
/* MONTSERRAT FONT */
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  --dark-purple: #25225d;
  --purple: #322e7c;
  --light-blue: #43aaff;
}

.blue-shadow-text {
  text-shadow: 5px 5px var(--light-blue);
}
.blue-shadow-box {
  box-shadow: 5px 5px var(--light-blue);
}

.App {

}

.bg {
  background-image: url('./assets/shapes-bg.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 4%;
  outline: 100px solid black;
  outline-offset: -15px;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .layer1 {
    background-image: url('./assets/shapes-bg.svg');
  }
}