/* MONTSERRAT FONT */
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  --dark-purple: #25225d;
  --purple: #322e7c;
  --light-blue: #43aaff;
}

* {
  color: var(--dark-purple);
}

/* Background */
.app {
  background-image: url('./assets/shapes-bg.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255,255,255, 0.96);
  background-blend-mode: lighten;

  outline: 15px solid white;
  outline-offset: -15px;
}

.blue-shadow-text {
  text-shadow: 5px 5px var(--light-blue);
}
.blue-shadow-box {
  box-shadow: 5px 5px var(--light-blue);
}